@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Montserrat&family=Oswald:wght@300&display=swap');
html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 1.5em;
  margin: 0;
  background-color: #2e3440;
  color: #eceff4;
  font-family: "Fira Code", Monaco, Consolas, "Ubuntu Mono", monospace;
}

body::-webkit-scrollbar{
  display: none;
}


a, a:visited {
  text-decoration: none;
  color: #23b0ff;
}
