@import url('https://fonts.googleapis.com/css?family=Fira+Code|Montserrat&display=swap');

html,
body {
  padding: 1.5em;
  margin: 0;
  background-color: #2e3440;
  color: #eceff4;
  font-family: "Fira Code", Monaco, Consolas, "Ubuntu Mono", monospace;
}

a, a:visited {
  color: #23b0ff;
}
