.title {
  text-align: center;
  padding: 0.75em;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding: 0 0.5em;
}

.footer {
  position: inherit;
  bottom: 0;
  color: #E5E9F0;
  font-size: 1rem;
  padding: 2rem 1rem;
}
.heading{
  font-family: "Oswald",sans-serif;
  font-size: 2rem;
  padding: 0 0.5rem;
}

.links{
  font-size: 1rem;
  font-family: "Montserrat";
  padding: 0 0.5rem;
}
