.title {
  text-align: center;
  padding: 0.75em;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding: 0 0.5em;
}

.footer {
  position: absolute;
  bottom: 0;
  color: #E5E9F0;
  font-size: 1rem;
  padding: 2rem 1rem;
}